<!DOCTYPE html>
<html>

<head>
  <title>Contacts</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script type="text/javascript" src="/js/script.js"></script>
</head>

<body>
  <div class="error-wrapper">
    <div class="error-content">
      <h1>Looks like we pulled a muscle!</h1>
    </div>
  </div>
</body>

</html>