<!DOCTYPE html>
<html>
  
  <head>
    <title>Resoltz Location Server</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  
  <body>
    <div class="main-wrapper">
<h1>Welcome to the Resoltz distance server. 
<%= distanceMiles %> Miles</h1>
      <div id="map"></div>
      <div class="main-content-wrapper">
          <table class="main-content" role="table">
          <thead role="rowgroup">
            <tr role="row">
              <th role="columnheader">id</th>
              <th role="columnheader">user_id</th>
              <th role="columnheader">latitude</th>
              <th role="columnheader">longitude</th>
              <th role="columnheader">altitude</th>
              <th role="columnheader">speed</th>
              <th role="columnheader">heading</th>
              <th role="columnheader">activity_type</th>
              <th role="columnheader">distance</th>
              <th role="columnheader">is_moving</th>
              <th role="columnheader">created_at</th>
            </tr>
          </thead>
          <tbody role="rowgroup">
            <% locations.forEach(function(location){ %>
              <tr role="row">
                <td role="cell"><%= location.id %></td>
                <td role="cell"><%= location.user_id %></td>
                <td role="cell"><%= location.latitude %></td>
                <td role="cell"><%= location.longitude %></td>
                <td role="cell"><%= location.altitude %></td>
                <td role="cell"><%= location.speed %></td>
                <td role="cell"><%= location.heading %></td>
                <td role="cell"><%= location.activity_type %></td>
<td role="cell">
  <%= Number(location.odometer)*(0.621371) %>
</td>
                <td role="cell"><%= location.is_moving %></td>
                <td role="cell">
                    <%= moment(location.created_at).format('MMMM Do YYYY, h:mm:ss a') %>
                </td>
              </tr>
              <% }) %>
            </table>
          </div>
        </div>
        <script type="text/javascript" src="/js/script.js"></script>
        <script type="text/javascript"  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4fuiYUyfN-D8spgG0AB-NXLvzONLXFbw&callback=myMap"></script>
  </body>
</html>