body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.main-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vmax;
  width: 100%;
}

.main-wrapper:before {
  background-image: url('https://cdnresoltzcus.blob.core.windows.net/images/landing-background-image/man-stairs.jpg');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  content: "";
  justify-content: center;

  height: 100%;
  left: 0;
  opacity: 0.4;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

a {
  color: #00B7FF;
}

h1 {
  margin: 1%;
}

.main-content-wrapper {
  display: flex;
  justify-content: center;
}
.main-content {
  background-color: rgba(185, 124, 194, 0.4);
  border-radius: 10px;
  position: absolute;
  z-index: 0;
  top: 35%;
}

#map {
  height: 30%;
  top: 4%;
  display: block;
  position: absolute;
  width: 100%;
  z-index: 0;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  
  #map {
    margin: 14% 0;
  }

  .main-content-wrapper {
    margin-top: 150px;
  }

  .main-wrapper:before {
    display: none;
  }

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr {
    margin: 0 0 1rem 0;
  }
  tr:nth-child(odd) {
    background: #ccc;
  }
  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 0;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  /*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
  td:nth-of-type(1):before {
    content: "id";
  }
  td:nth-of-type(2):before {
    content: "user_id";
  }
  td:nth-of-type(3):before {
    content: "latitude";
  }
  td:nth-of-type(4):before {
    content: "logitude";
  }
  td:nth-of-type(5):before {
    content: "altitude";
  }
  td:nth-of-type(6):before {
    content: "speed";
  }
  td:nth-of-type(7):before {
    content: "heading";
  }
  td:nth-of-type(8):before {
    content: "activity_type";
  }
  td:nth-of-type(9):before {
    content: "is_moving";
  }
  td:nth-of-type(10):before {
    content: "created_at";
  }
  
  *[role="table"] {
    margin: 53% 3%;
    width: 95%;
  }
  
  *[role="rowgroup"] {
    text-align: right;
  }
  
}